@use '../../../styles/grid/init' as *;

.hero {
  display: flex;
  min-height: calc(100vh - 112px);

  @include bp(md) {
    // min-height: calc(100vh - 108px);
    min-height: unset;
  }

  &__wrapper {
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__actions {
    display: flex;
    gap: 16px;

    @include bp(sm) {
      flex-direction: column;
    }
  }
}
