@use '../../../styles/grid/init' as *;

.bottomNote {
  display: flex;
  gap: 16px;
}

.steps {
  &__item {
    height: 100%;
    padding: 20px;

    @include bp(md) {
      padding: 16px 20px;
    }

    @include bp(sm) {
      padding: 12px;
    }
  }

  &__grid > div:first-child .steps__item {
    border-left: 3px solid var(--color-stroke-error);
  }

  &__grid > div:last-child .steps__item {
    border-left: 3px solid var(--color-stroke-success);
  }
}

.whyus {
  &__media {
    display: flex;
    gap: 20px;
  }

  &__content {
    padding-left: 20px;

    @include bp(md) {
      padding-left: 0;
    }
  }

  &__person {
    flex: 1;
  }

  &__image {
    overflow: hidden;
  }

  &__image img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 450px;
  }
}

.clients {
  &__top {
    align-items: flex-end;
  }

  &__btn {
    display: flex;
    justify-content: end;

    @include bp(sm) {
      padding-top: 20px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 470px;
    padding: 20px;

    @include bp(md) {
      min-height: auto;
    }

    @include bp(md) {
      padding: 16px 20px;
    }

    @include bp(sm) {
      padding: 12px;
    }
  }
}
