@use '../../styles/grid/init' as *;

.hero {
  display: flex;
  min-height: 100vh;
  max-height: 900px;
  padding-top: calc(80px + 32px);

  @include bp(md) {
    max-height: none;
  }

  @include bp(sm) {
    padding-top: calc(80px + 28px);
  }

  :global(.container) {
    height: 100%;
  }

  &__wrapper {
    flex: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  &__media {
    display: flex;
    align-items: flex-end;
    height: 100%;
  }

  &__image img {
    max-height: 600px;
  }
}
