@use '../../../styles/grid/init' as *;

.advantages {
  &__inner {
    display: flex;
  }
  &__stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }
}
