@use '../../../styles/grid/_init.scss' as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 48px;
  background: var(--color-bg-main);
  border: 1px solid var(--color-stroke-primary);
  border-radius: var(--radius-xxl);

  @include bp(md) {
    padding: 40px 48px;
  }

  @include bp(sm) {
    padding: 32px 12px;
  }
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form__label {
  display: inline-block;
}

.form__input,
.form__textarea {
  width: 100%;
  padding: 10px 32px;
  background: var(--color-bg-surface);
  border: 1px solid var(--color-stroke-primary);
  border-radius: var(--radius-m);
}

.form__checkbox {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form__checkboxLabel {
  display: flex;
  gap: 8px;
  align-items: flex-start;
}

.form__error {
  color: #c62828;
  margin: 0;
}

.form__success {
  margin: 0;
}

.form__submit {
  width: 100%;
}
