@use '../../styles/grid/init' as *;

.navbar-offset {
  height: calc(80px + 32px);

  @include bp(sm) {
    height: calc(80px + 28px);
  }
}

.navbar {
  position: fixed;
  width: 100%;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }

  &__list {
    display: flex;
    column-gap: 16px;
    align-items: center;
    justify-content: space-between;
  }

  &__actions {
    display: flex;
    column-gap: 24px;
    align-items: center;
    justify-content: space-between;
  }
}
