@use "../../../styles/grid/init" as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  border: 1px solid transparent;
  border-radius: var(--radius-xl);
  cursor: pointer;

  &--brand {
    color: var(--color-text-white);
    background-color: var(--color-bg-brand);

    &:hover {
      background-color: var(--color-bg-brand_heavy);
    }
  }

  &--dark {
    color: var(--color-text-primary);
    background-color: var(--color-bg-surface);
    border-color: var(--color-stroke-primary);

    &:hover {
      background-color: var(--color-bg-surface_hover);
      border-color: var(--color-stroke-tetriary);
    }
  }

  transition:
    background-color 180ms ease-out,
    transform 120ms ease-out,
    box-shadow 180ms ease-out;

  &__text {
    display: inline-block;
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  &--md {
    height: 40px;
    padding-inline: 20px;
  }

  &--lg {
    height: 56px;
    padding-inline: 32px;
  }

  &--round {
    border-radius: 50%;
  }

  &--round.button--md {
    width: 40px;
    min-width: 40px;
    height: 40px;
    padding-inline: 0;
  }

  &--round.button--lg {
    width: 56px;
    min-width: 56px;
    height: 56px;
    padding-inline: 0;
  }

  &--full {
    width: 100%;
  }

  &--full-mobile {
    @include bp(sm) {
      width: 100%;
    }
  }

  &:disabled {
    opacity: 0.6;
    cursor: default;
  }
}
